__pycache__/
__pypackages__/

*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.py,cover
*.sage.py
*.so
*.spec

.DS_Store
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.venv
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pytest_cache/
.python-version
.pyre/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.webassets-cache

/site

ENV/
MANIFEST

build/
celerybeat-schedule
celerybeat.pid
coverage.xml
develop-eggs/
db.sqlite3
db.sqlite3-journal
dist/
docs/_build/
downloads/
dmypy.json
eggs/
env/
env.bak/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
pytest.ini
profile_default/
sdist/
share/python-wheels/
target/
var/
venv/
venv.bak/
wheels/
app/base/static/
config/translate_key.json
