bcrypt==4.0.1
beautifulsoup4==4.11.1
black==22.10.0
dnspython==2.2.1
flask==2.2.5
flask-login==0.6.2
flask_wtf==1.0.1
google-cloud-language==2.6.1
google-cloud-translate==3.8.4
gunicorn==20.1.0
openai==0.25.0
pycountry==22.3.5
pymongo==4.3.3
python-telegram-bot==13.14
requests==2.31.0
sentry-sdk[flask]==1.39.2
werkzeug==2.3.8
