{% extends "base_site.html" %}

{% block title %} Homepage {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block body_class %}nav-sm{% endblock %}
{% block sidebar_class %}menu_fixed{% endblock %}
{% block top_navigation %}{% endblock %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
        {% for tile in top_stats %}
            {% with title=tile.name, count=tile.value, count_change=tile.change, icon=tile.icon, count_color=tile.count_color%}
                <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    {% include "parts/top_tile.html" %}
                </div>
            {% endwith %}
        {% endfor %}
    </div>

    <!-- /top tiles -->

    {% with title="Europe Reported Cases", map_id="europe-map" %}
        {% include "parts/map.html" %}
    {% endwith %}

  </div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendors/echarts/dist/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='build/js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.europe.js') }}"></script>
    <script src="{{ url_for('static', filename='build/js/global_maps.js') }}"></script>
    <script type="text/javascript">init_world_map('{{ countries|tojson }}')</script>
{% endblock javascripts %}
