<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ title }}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                {% if stats_last_updated %}<i>Actualizat la: {{ stats_last_updated }}</i>{% endif %}
            </div>
            <div class="x_content">
                {% if include_search %}
                  <form data-parsley-validate method="get" class="form-inline">
                      <div class="col-md-5 col-sm-5 form-group top_search">
                          <div class="input-group">
                              <select name="country"
                                      class="form-control selectpicker countrypicker"
                                      title="Selectați țările (5 max)"
                                      multiple
                                      data-actions-box="true"
                                      data-actions-box-style="foooo"
                                      data-countries="{{ data_countries }}"
                                      data-default="{{ search_default }}"
                                      data-flag="true"
                                      data-max-options=5
                                      data-live-search="true"
                                      data-deselect-all-text="Șterge selecția"
                                      data-size="15"
                                      data-style="btn-secondary"
                              ></select>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="submit">Compară</button>
                              </span>
                          </div>
                      </div>
                  </form>
                {% endif %}
                <div id="{{chart_id}}" style="height:450px"></div>
            </div>
        </div>
    </div>
</div>
